h1 {
    padding-bottom: 2rem;
}

h2 {
    padding-bottom: 1rem;
}

.container-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0rem;
}

.publicity {
    height: 35rem;
}

.dish_day {
    background: var(--clr-text);
    /* opacity: 0.5; */
    /* background-blend-mode: multiply; */
    /* background-image: url(../images/meal.jpeg); */
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50%; */
    /* background-position: center; */
    padding: 1em 1em 1em;
    color: white;
    width: inherit;
    height: 29rem;
}

.meal {
    width: 100%;
    height: inherit;
    padding-bottom: 2rem;
}

.dish_text {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    height: inherit;
    position: relative;
    bottom: 80%;
}

.dish_text h3 {
    font-size: 2.5rem;
}

@media only screen and (max-width:650px) {
    .container-home {
        width: 90%;
        padding-left: 2rem;
    }

    .publicity {
        height: 25rem;
    }

    .dish_day {
        height: 15rem;
        width: 20rem
    }

    .dish_text {
        bottom: 90%;
    }


}