:root {
    --clr-text: #3d3d3d;
    --clr-primary: #c90101;
    --clr-primary-dark: #6d0202;
    --clr-accent: #179fdf;
    --clr-accent-dark: #045170;
    /*--ff-title: "BFNarrow", sans-serif;
    --ff-serif: "Crimson Text", serif;
    --ff-logo: "BetterFly", sans-serif;*/

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /* font-family: var(--ff-serif); */
    color: var(--clr-text);
    background-image: url(../images/fondos/fondo-pergamino3-min.jpg);
    background-size: cover;
    font-size: 1, 125rem;
}

body {
    margin: 0;
    text-align: center;
}

/* Typography */
h1,
h2,
h3,
h4,
p,
b {
    margin: .5em;
}

h1 {
    font-family: Impact, fantasy;
    font-size: 2em;
}

ul {
    list-style: none;
}

/* navigation */
header {
    padding: 1em 0 2 em;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

nav a {
    display: inline-block;
    padding: 0.5em;
    color: var(--clr-text);
    text-decoration: none;
}

nav a:hover,
nav a:focus {
    color: var(--clr-accent);
    text-decoration: underline;
}

.navbar_logo>a>img {
    height: 9rem;
}

.fa-sheet-plastic {
    text-decoration: underline 1px;
    color: var(--clr-primary-dark);
}

/*------------------------------------*/
/*main*/
.principal_message {
    padding-top: 1em;
    padding-bottom: 1em;
    height: 5em;
    color: white;
    /* background-color: #516c73; */
    background-color: #af332f;
}

.sub-menu {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary-dark);
}

.sub-menu button {
    color: white;
    background-color: var(--clr-primary-dark);
    border: none;
    font-size: x-large;
}

.sub-menu button:hover {
    cursor: pointer;
}

/* container for menu */
.container {
    margin-top: 2rem;
    display: flex;
    align-items: stretch;
    padding: 0;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    /* background: var(--clr-text); */
}

.column-left {
    margin: 0 auto;
    /*border-right: 1px solid var(--clr-text);*/
    padding-right: 3.44828%;
    float: left;
    width: 50%;
}

.column-rigth {
    padding-left: 3.44828%;
    float: left;
    width: 50%;
    margin: 0 auto
}

.menue-topic {
    background-color: rgba(255, 255, 255, 0.3);
}

.menue-topic h1 {
    color: var(--clr-primary);
    padding-top: 1rem;
    padding-bottom: 0rem
}

.sub-item {
    padding-bottom: 0.5rem;
    justify-content: center;
}

.sub-item h3 {
    padding-top: .5rem;
    color: black;
}

.sub-item p,
.sub-item b {
    font-size: 18px;
}

/* show menue img */

.img_normal_l img {
    display: none;
    width: 25rem;
    height: 18rem;
    position: fixed;
    top: 30%;
    left: 1.5%;
}

.img_normal_l:hover img {

    display: block;
    border: 2px solid #3d3d3d;
}

.img_normal_r img {
    display: none;
    width: 25rem;
    height: 18rem;
    position: fixed;
    top: 30%;
    right: 1.5%;
}

.img_normal_r:hover img {

    display: block;
    border: 2px solid #3d3d3d;
}

/* gotop*/
.go-top_container {
    position: fixed;
    bottom: 4rem;
    left: 92%;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background: var(--clr-primary-dark);
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

}

/* phone*/
.phone_container {
    position: fixed;
    bottom: -1rem;
    left: 92%;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
    display: none;
}

.phone-button {
    width: 0rem;
    height: 0rem;
    background: var(--clr-primary-dark);
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;

}

.go-top-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .2s;
}

.phone-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: #fff;
    transition: .2s;
}

.show {
    z-index: 10;
}

.show .go-top-button,
.show .phone-button {
    animation: popup .35 ease-in-out;
    width: 3.6rem;
    height: 3.6rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
    0% {
        width: 0rem;
        height: 0rem;
    }

    50% {
        width: 8rem;
        height: 8rem;
    }

    100% {
        width: 3.6rem;
        height: 3.6rem;
    }
}



@media only screen and (max-width:650px) {
    /*responsive*/

    .text {
        font-size: 11px;

    }

    h1 {
        font-size: 1.5em;
    }

    .sub-menu {
        gap: 3rem;
    }

    .sub-menu button {
        font-size: large;
    }


    .column-left {
        width: inherit;
        border-right: none;
    }

    .column-rigth {
        margin: 0 auto;
        padding-right: 3.44828%;
        padding-left: 0px;
        float: left;
        width: inherit;
        border-right: none;
    }

    .column-left>ul,
    .column-rigth>ul {
        padding-left: 10px;
    }

    .container {
        flex-direction: column;
    }

    .menue-topic>ul {
        padding-left: 5px
    }

    .sub-item>p,
    .sub-item>h4 {
        width: 95%;
        padding-left: 1rem
    }

}

@media only screen and (max-width:450px) {
    .phone_container {
        display: block;
    }

}