:root {
    --clr-text: #3d3d3d;
    --clr-primary: #c90101;
    --clr-primary-dark: #6d0202;
    --clr-accent: #179fdf;
    --clr-accent-dark: #045170;
    /*--ff-title: "BFNarrow", sans-serif;
    --ff-serif: "Crimson Text", serif;
    --ff-logo: "BetterFly", sans-serif;*/

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /* font-family: var(--ff-serif); */
    /* color: var(--clr-text); */
    color: black;
    background-image: url(./images/backgrounds/fondo-pergamino3-min.jpg);
    background-size: cover;
    font-size: 1, 125rem;
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    text-align: center;
    min-height: 100%;
    width: 100%;

}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
}

/* navigation */
header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
    justify-content: center;
    /* position: sticky; */
    top: 0px;
    transition: top .03s;
    width: 100%;
    height: 200px;
    z-index: 9999;
    margin-bottom: 0%;
}

header nav ul,
header .social-media ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
}

header nav ul {
    gap: 5px;
}

.navbar_logo img {
    height: 10rem;
    width: 10rem;
}

.collapseMenu,
.nav-collapse {
    display: none;
}

.menu-item a {
    display: inline-block;
    padding: 0.5em;
    color: var(--clr-text);
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.menu-item a:hover {
    text-decoration: underline 1px;
    color: var(--clr-primary-dark);
}

.menu-item a.active {
    color: var(--clr-primary-dark);
    text-decoration: underline;
}

.social-media img {
    height: 2.5rem;
    width: 2.5rem;
}

.header-separator {
    background-color: var(--clr-primary-dark);
    height: 1rem;
    position: sticky;
}

main {
    height: 100%;
}

@media only screen and (max-width: 1154px) {
    header {
        height: inherit;
    }

    .bigNav,
    .social-media {
        display: none !important;
    }

    .navbar_logo {
        padding-left: 2rem
    }

    .navbar_logo img {
        height: 3.8rem;
        width: auto;
    }

    .hamburger {
        width: 100%;
    }

    .collapseMenu {
        display: flex;
        width: 25%;
        height: 40px;
        cursor: pointer;
        transition: transform 0.3s ease-in-out;
        align-self: center;
        background: none;
        border: none;
        margin-left: auto;
        padding-left: 8rem;
    }

    .nav-collapse {
        display: flex;
        position: absolute;
        top: 135px;
        /* Altura del botón */
        left: 0;
        width: 100%;
    }

    .nav-collapse ul {
        display: flex;
        flex-direction: column;
        width: inherit;
        align-items: center;
        justify-content: center;
    }

    .social-media_collapse ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-right: 2rem;
        padding-top: 1rem;
    }

    .social-media_collapse img {
        height: 2.5rem;
        width: 2.5rem;

    }

    .menu-open {
        margin-top: 450px;
        /* Ajusta el valor según sea necesario para evitar la superposición */
    }
}

@media only screen and (max-width: 799px) {
    .collapseMenu {
        padding-left: 3rem;
    }

}

@media only screen and (max-width: 500px) {
    .collapseMenu {
        padding-left: 1rem;
    }

}